<div>
    
    <form actio="">
        <label for="title">title</label>
        <input type="text" name="title" id="title" placeholder="title">
             <label for="description">description</label>
        <input type="text" name="description" id="description" >
             <label for="price">price</label>
        <input type="number" name="price" id="price">
             <label for="thumbnails">thumbnails</label>

        <input type="text" name="thumbnails" id="thumbnail">
             <label for="stock">stock</label>
        <input type="number" name="stock" id="stock" >
             <label for="code">code</label>
        <input type="number" name="code" id="code" >
        <label for="id">id</label>
        <input type="number" name=" id" id="id">
        <input type="submit" id="button">

        
    </form>

     <button onclick=""> </button>


</div>
<br>
<br>
<div id="PRD">
   

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="static/js/index.js"></script>